.form_link__wrapper {
  padding: 20px;
  background-color: #1e4d478d;
  border-radius: 10px;
}

.form_link {
  padding: 5px 10px;
  border: 2px solid #f2faf6;
  border-radius: 5px;
}

.form_link:first-child {
  margin-right: 20px;
}

.form_link:hover {
  background-color: #7ac4ba86;
}
