.loader {
  margin: auto;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}

.error-boundary {
  text-align: center;
  margin-top: 20%;
}

.wrapper {
  color: #fff5ee;
  overflow-x: hidden;
  background-image: url('../src/assets/light.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrapper-dark {
  background-image: url('../src/assets/dark.jpg');
  color: #c5c3de;
}
