body {
  font-family: 'Bona Nova SC', serif;
  font-weight: 400;
  font-style: normal;
  color: #fff5ee;
  overflow-x: hidden;
  background-image: url('../src/assets/purple-universe-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

header {
  border-bottom: 2px solid #fff5ee;
}

button,
input {
  font-family: 'Bona Nova SC', serif;
  font-size: 16px;
}

li {
  list-style: none;
}
